body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    width: 50%;
    grid-template-columns: auto auto auto auto;
    margin-left: 25%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 100px;
    cursor: pointer;
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.grid-item:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

/* Für die Berechnung des Ergebnises */
.grid-item:nth-child(20) {
    background-color: yellow;
}

/* Für Addition */
.grid-item:nth-child(17) {
    background-color: green;
}

.grid-item:nth-child(17):hover {
    background-color: green;
    border: 2px solid green;
}

/* Für minus Berechnung */
.grid-item:nth-child(13) {
    background-color: red;
}

.grid-item:nth-child(13):hover {
    background-color: red;
    border: 2px solid red;
}

/* Für die Multiplikation */
.grid-item:nth-child(9) {
    background-color: pink;
}

.grid-item:nth-child(9):hover {
    background-color: pink;
    border: 2px solid pink;
}

input {
    grid-column: 1 / span 4;
    grid-row: 1;
    height: 50px;
    font-size: 50px;
}

.zero {
    grid-column: 1 / span 2;
    grid-row: 6;
}
