/* Grid des Taschenrechners */

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    width: 50%;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #aaaaaa;
    /* Input Feld für um die gedrückten Zahlen etc auszugeben */
    input {
        grid-column: 1 / span 4;
        grid-row: 1;
        height: 50px;
        font-size: 50px;
    }
    /* Grid für die Knöpfe */
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px;
        font-size: 30px;
        border-radius: 100px;
        color: black;
        border: 2px solid rgba(255, 255, 255, 0.8);
        cursor: pointer;
        &:hover {
            background-color: black;
            border: 2px solid white;
            color: white;
        }
        /* Für die Multiplikation */
        &:nth-child(9) {
            background-color: pink;
            &:hover {
                background-color: pink;
                border: 2px solid pink;
            }
        }
        /* Für die Subtraktion */
        &:nth-child(13) {
            background-color: red;
            &:hover {
                background-color: red;
                border: 2px solid red;
            }
        }
        /* Für die Addition */
        &:nth-child(17) {
            background-color: green;
            &:hover {
                background-color: green;
                border: 2px solid green;
            }
        }
        /* Für die Berechnung des Ergebnises */
        &:nth-child(20) {
            background-color: yellow;
            &:hover {
                background-color: yellow;
                border: 2px solid yellow;
            }
        }
    }
}


/* Für den Knopf mit der 0 */

.zero {
    grid-column: 1 / span 2;
    grid-row: 6;
}