@media screen and (max-width: 594px) {
    .grid-container {
        input {
            width: 95%;
        }
        min-width: 74%;
    }
}

@media screen and (max-width: 1231px) {
    .grid-container {
        input {
            width: 99%;
        }
    }
}